    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for c4foaf
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName c4foaf.localhost
      DocumentRoot "/Users/matt/Projects/c4foaf/web"
      DirectoryIndex index.php
      <Directory "/Users/matt/Projects/c4foaf/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/Users/matt/Projects/c4foaf/lib/vendor/symfony/data/web/sf"
      <Directory "/Users/matt/Projects/c4foaf/lib/vendor/symfony/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
